* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  :root {
    --color-primary: rgb(132, 9, 204);
    --color-second: white;
    --bg-gray: rgb(233, 231, 231);
  }

.container {
  max-width: 100vw;
  overflow-x: hidden;
}
